ul {
    text-decoration: none;
}
.navbar-default{
    padding:100px,
}
.responsive {
    width: 10%;
    height: auto;
    float: left;
    margin: auto;
    align-items:left;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-top: 100px;
    padding-left: 0.8rem;
}
.form-group shadow-textarea{
    padding-top: 100px;
    padding-left: 0.8rem;
}
.container-fluid{
    width :100%;
}
.img-fluid{
    max-width: 100%;
     height: auto;
}